<% content_for :heading do %>
  <h2> <%= @list.name %> </h2>
<% end %>
<div data-controller="list-item" data-reflex-root="[list],[options]" data-list-item-list-id=<%= @list.id %> >
  <ul list>
    <%= render(ListItemRecordComponent.with_collection(@list_items, allow_delete: true)) %>
  </ul>
  <input id="list-item-name" data-target="list-item.itemName" placeholder="Item Name" data-reflex="input->ListItemReflex#autocomplete_item">
  <input data-target="list-item.itemQuantity" placeholder="Item Quantity">
  <button data-item-id="" data-action="click->list-item#createListItem">Add Item</button>
  <div options>
  <% @items.each do |item| %>
      <p><%= item.name %><a data-item-id=<%= item.id %> href="#" data-action="click->list-item#createListItem">+</a></p>
  <% end %>
  </div>
</div>
