<% content_for :heading do %>
  <h2> <%= @list.name %> </h2>
<% end %>
<div data-controller="list-item"  data-list-item-list-id=<%= @list.id %> >
  <ul list>
    <% @list_items.each do |list_item| %>
      <li>
        <%= list_item.item.name %> <a data-item-list-id=<%= list_item.id %> href="#" data-reflex="click->ListItemReflex#delete_list_item">x</a>
      </li>
    <% end %>
  </ul>
  <input data-target="list-item.itemName" data-reflex="input->ListItemReflex#autocomplete_item">
  <button data-item-id="" data-action="click->list-item#createListItem">Add Item</button>
  <div options>
  <% @items.each do |item| %>
      <p><%= item.name %><a data-item-id=<%= item.id %> href="#" data-action="click->list-item#createListItem">+</a></p>
  <% end %>
  </div>
</div>
