<% content_for :heading do %>
  <h2> <%= @list.name %> </h2>
<% end %>
<div data-controller="list-item" data-reflex-root="[options],[list]" >
  <ul list id="list-item-list">
    <%= render(ListItemRecordComponent.with_collection(@list_items, allow_delete: true)) %>
  </ul>
  <%= form_with model: [@list, @list_item], data: {action: "ajax:success->list-item#formSubmit" } do |form| %>
    <%= form.fields_for :item do |item_form| %>
      <%= item_form.label :name, value: "Item" %>
      <%= item_form.text_field :name, autocomplete: "off", placeholder: "cheese, milk, bread", data: { target: "list-item.itemName", giveFocus: true, action:"input->list-item#autocompleteItem", clearValue: true } %>
    <% end %>
    <%= form.label :quantity, value: "-" %>
    <%= form.text_field :quantity,  autocomplete: "off", data: {clearValue: true, target: "list-item.itemQuantity", action:"input->list-item#autocompleteItem"}, placeholder: "2 pieces, The orange one, BBQ" %>
    <%= form.hidden_field :list_id %>
    <%= form.submit "Add" %>
  <% end %>
  <div options>
    <% @items.each do |item| %>

        <%= render(ItemSearchResultComponent.new(item: item, quantity: @partial_quantity)) do |component| %>
          <% component.slot(:action) do %>
            <%= form_with model: [@list, @list_item], data: {action: "ajax:success->list-item#formSubmit" } do |form| %>
              <%= form.fields_for :item, item do |item_form| %>
                <%= item_form.hidden_field :name %>
              <% end %>
              <%= form.hidden_field :quantity, value: @partial_quantity%>
              <%= form.hidden_field :list_id %>
              <%= form.submit "Add" %>
            <% end %>
          <% end %>
        <% end %>

    <% end %>
  </div>
</div>
