<% content_for :heading do %>
  <h2> <%= @list.name %> </h2>
<% end %>
<div data-controller="list-item" data-reflex-root="[options],[list]" >
  <ul list id="list-item-list">
    <%= render(ListItemRecordComponent.with_collection(@list_items, allow_delete: true)) %>
  </ul>

  <%= form_with model: [@list, @list_item], data: {action: "ajax:success->list-item#formSubmit" } do |form| %>
    <%= form.fields_for :item do |item_form| %>
      <%= item_form.label :name, value: "Item" %>
      <%= item_form.text_field :name, autocomplete: "off", placeholder: "cheese, milk, bread",  data: { giveFocus: true, clearValue: true, reflex: "input->ListItemReflex#autocomplete_item" } %>
    <% end %>
    <%= form.label :quantity, value: "-" %>
    <%= form.text_field :quantity,  autocomplete: "off", data: {clearValue: true}, placeholder: "2 pieces, The orange one, BBQ" %>
    <%= form.hidden_field :list_id %>
      <%= form.submit "Create" %>
  <% end %>

  <div options>
  <% @items.each do |item| %>
    <p><%= item.name %><a data-item-id=<%= item.id %> href="#" data-action="click->list-item#createListItem">+</a></p>
  <% end %>
  </div>
</div>
