<% content_for :heading do %>
  <%# TODO: Add a form here to update the title %>
  <h2> Recipe: <%= @recipe.title %> </h2>
  <p><%= @recipe.description %></p>
<% end %>
<h3>Ingredients</h3>
<ol list>
  <% @recipe.recipe_items[0..-2].each do |recipe_item| %>
    <%= render(ListItemRecordComponent.new(list_item_record: recipe_item, allow_delete: true)) %> - <%= recipe_item.id%>
  <% end %>
</ol>


<%= form_with model: [@recipe_item], data: {action: "ajax:success->list-item#formSubmit" } do |form| %>
  <%= form.fields_for :item do |item_form| %>
    <%= item_form.label :name, value: "Item" %>
    <%= item_form.text_field :name, autocomplete: "off", placeholder: "cheese, milk, bread",  data: { giveFocus: true, clearValue: true, reflex: "input->ListItemReflex#autocomplete_item" } %>
  <% end %>
  <%= form.label :quantity, value: "-" %>
  <%= form.text_field :quantity,  autocomplete: "off", data: {clearValue: true}, placeholder: "2 pieces, The orange one, BBQ" %>
  <%= form.hidden_field :recipe_id %>
  <%= form.submit "Create" %>
<% end %>

<h3>Method:</h3>
<ol list>
  <% @recipe.recipe_methods.each do |recipe_method| %>
    <li><%= recipe_method.step %></li>
  <% end %>
</ol>
<%= form_with model: [@recipe, @recipe_method], data: {action: "ajax:success->list-item#formSubmit" } do |form| %>
    <%= form.label :step %>
    <%= form.text_field :step, autocomplete: "off", placeholder: "Chop Onions",  data: { giveFocus: true, clearValue: true, reflex: "input->ListItemReflex#autocomplete_item" } %>

  <%= form.label :recipe_item_ids %>
  <%= form.text_field :recipe_item_ids,  autocomplete: "off", data: {clearValue: true}, placeholder: "2 pieces, The orange one, BBQ" %>
  <%= form.hidden_field :recipe_id %>
  <%= form.submit "Create" %>
<% end %>
