<% content_for :heading do %>
  <h2> Recipes </h2>
<% end %>

<div data-controller="recipe" data-reflex-root="[list]" >
    <ul list>
    <% @recipes.each do |recipe| %>
      <li>
        <span><%= recipe.title %> <a data-recipe-id=<%= recipe.id %> href="#" data-reflex="click->ItemReflex#delete_item">x</a><span>
        <br>
        <span><%= recipe.description %><span>
        <%= link_to 'Go to recipe', recipe_path(id: 1) %>
      </li>
    <% end %>
  </ul>

  <%= form_with model: @recipe, data: {action: "ajax:success->list-item#formSubmit" }, local:true do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title,  autocomplete: "off", data: {clearValue: true}, placeholder: "Bangers and Mash" %>
    <%= form.submit "Create" %>
  <% end %>
</div>
