<% content_for :heading do %>
  <h2> Recipe: <%= @recipe.title %> </h2>
  <p><%= @recipe.description %> <%= link_to 'Edit', edit_recipe_path(id: @recipe.id) %></p>
<% end %>
<h3>Ingredients</h3>
<ul list>
  <% @recipe.recipe_items.each do |recipe_item| %>
    <%= render(ListItemRecordComponent.new(list_item_record: recipe_item, allow_delete: false)) %>
  <% end %>
</ul>
<hr>
Method:
<ol>
  <% @recipe.recipe_methods.each do |recipe_method| %>
    <li><%= recipe_method.step %></li>
  <% end %>
</ol>
<%= link_to 'Start Cookin', recipe_recipe_methods_path(recipe_id: @recipe.id, id: @recipe.recipe_methods.order(:order).first) %>
