<!DOCTYPE html>
<html>
  <head>
    <title>OnTheList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <%# https://newcss.net/demo/ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css">

    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="On The List">
    <meta name="apple-mobile-web-app-title" content="On The List">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="<%= base_url %>">
    <link rel="icon" type="image/png" sizes="384x384" href="https://onthelist.xyz/images/icons/first-icon-draft.png">
    <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="https://onthelist.xyz/images/icons/first-icon-draft.png">

    <%= raw turbolink_caching_directive %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= yield :heading %>
    </header>
    <%= yield %>
  </body>
</html>
